<h1>Login/Register!</h1>
<mat-card>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="loginForm.get('username').invalid">Username is required</mat-error>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="primary" (click)="submit('login')">Login</button> &nbsp;
    <button mat-raised-button color="primary" (click)="submit('register')">Register</button> &nbsp;
    <!-- <button mat-raised-button color="primary" (click)="getUser()">Get Uset</button> &nbsp;
    <button mat-raised-button color="primary" (click)="getMessages()">Get Messages</button> &nbsp;
    <button mat-raised-button color="primary" (click)="logout()">Logout</button> -->
  </form>
</mat-card>
<!-- <mat-card>
  {{ user | json }}
</mat-card> -->

