<!-- <h1>Chatroom!</h1> -->
<mat-card>
  <div class="flex-container">
    <div class="flex-textarea">
      <form [formGroup]="message">
        <mat-form-field>
          <textarea matInput placeholder="Type your message" formControlName="text"></textarea>
          <mat-error *ngIf="message.get('text').invalid">Required</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="send()">
        Send
      </button>
    </div>
  </div>
</mat-card>

<div class="flex-container">
  <mat-list>
    <mat-list-item *ngFor="let message of messages" [class.bg-green]="checkCurrentUser(message)">
      <!-- {{ message.liked }} &nbsp;
      {{ message | json }} -->
      <mat-icon mat-list-icon *ngIf="!checkCurrentUser(message)">message</mat-icon>
      <h2 mat-line [class.align-right]="checkCurrentUser(message)">{{message.username}}</h2>
      <h4 mat-line [class.align-right]="checkCurrentUser(message)">{{message.text}}</h4>
      <p mat-line [class.align-right]="checkCurrentUser(message)"> {{message._created_date | date:'long'}} </p>
      <button mat-mini-fab *ngIf="!checkCurrentUser(message)">
        <mat-icon *ngIf="!message.liked" (click)="likeMessage(message)">thumb_up</mat-icon>
        <mat-icon *ngIf="message.liked" (click)="unlikeMessage(message)">thumb_down</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>


