
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-textarea {
  flex-grow: 1;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  height: 65px;
  margin-left: 8px;
}

.mat-list {
  width: 100%;
  padding: 8px;
}

.mat-list-base .mat-list-item {
  width: 100%;
  color: rgb(69, 68, 68);
  background: #eee;
  margin-bottom: 8px;
  border-radius: 50px;
}

.mat-list-item .align-right {
  text-align: right;
}

.mat-list-base .mat-list-item.bg-green {
 background: greenyellow;
}

.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
  h2 {
    font-weight: bold;
  }
}
