<mat-toolbar color="primary">
  <a mat-button routerLink="">
    <img
      alt="Nx logo"
      width="50"
      height="50"
      src="assets/trianglify.png"
    />
    <span>{{ title }}!</span>
  </a>
  <span class="spacing"></span>
  <div *ngIf="!!getUsername()">
    <h3>Hello, {{getUsername()}}</h3>
  </div>
  &nbsp;
  <div>
    <button mat-flat-button *ngIf="showLoginButton" routerLink="login">Login / Register</button>
    <button mat-flat-button *ngIf="showLogoutButton" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
